<!-- dialog-box.component.html -->
<h3 style="text-align: center; font-family: Bitter, Arial, serif;">{{action}} item</h3>

<mat-card>
  <mat-card-content mat-dialog-content>
    <form *ngIf="action == 'Update'" #updateItemForm="ngForm">
      <mat-form-field>
        <label>
          <input matInput placeholder="{{action}} Name" [(ngModel)]="item.name" maxlength="128" name="name">
        </label>
      </mat-form-field>

      <mat-form-field>
        <input type="number" placeholder="{{action}} amount" matInput [(ngModel)]="item.amount" name="amount">
      </mat-form-field>

      <mat-form-field>
        <input placeholder="{{action}} Inventory Code" matInput [(ngModel)]="item.inventoryCode" maxlength="24" name="inventoryCode">
      </mat-form-field>

      <div style="text-align: center">
        <button *ngIf="action === 'Update'" [disabled]="updateItemForm.invalid" mat-raised-button
                (click)="updateItem(localData.id)"
                color="primary">{{action}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="closeDialog()" color="warn">Cancel</button>
      </div>
    </form>
    <div *ngIf="action == 'Delete'" style="text-align: center">
      Sure to delete item <b>{{item.name}}</b>?
      <br/>
      <br/>
      <div style="text-align: center">
        <button *ngIf="action === 'Delete'" mat-raised-button (click)="deleteItem(item.id)"
                color="primary">{{action}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="closeDialog()" color="warn">Cancel</button>
      </div>
    </div>
    <form *ngIf="action == 'Add'" #addItemForm="ngForm">
      <mat-form-field>
        <input matInput name="itemName" placeholder="Name" maxlength="128" [(ngModel)]="item.name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="amount"  type="number" placeholder="Amount" maxlength="8" [(ngModel)]="item.amount" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="inventoryCode" placeholder="Inventory Code" maxlength="24" [(ngModel)]="item.inventoryCode" required>
      </mat-form-field>

      <div style="text-align: center">
        <button *ngIf="action === 'Add'" [disabled]="addItemForm.invalid" mat-raised-button (click)="doAction()"
                color="primary">{{action}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="closeDialog()" color="warn">Cancel</button>
      </div>
    </form>
  </mat-card-content>

</mat-card>


