<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="app.component.html">Item API</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggle-icon"></span>
  </button>

</nav>

<br/>
<mat-card>
  <button mat-raised-button (click)="openDialog('Add',{})" color="primary">Add Item</button>
  <br/><br/>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="example-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class=" mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let items"> {{items.id}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let items"> {{items.name}} </td>
      </ng-container>
      <!-- Name Amount -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let items"> {{items.amount}} </td>
      </ng-container>

      <!-- Name Inventory Code -->
      <ng-container matColumnDef="inventoryCode">
        <th mat-header-cell *matHeaderCellDef> Inventory Code </th>
        <td mat-cell *matCellDef="let items"> {{items.inventoryCode}} </td>
      </ng-container>

      <<!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a (click)="openDialog('Update',element)"><mat-icon color="primary">edit</mat-icon></a>     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a (click)="openDialog('Delete',element)"><mat-icon color="warn">delete</mat-icon></a>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let items; columns: displayedColumns;">
      </tr>
    </table>
  </div>
</mat-card>





<!--<div class="container">-->

<!--  <a class="btn btn-secondary my-5" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"-->
<!--     aria-controls="collapseExample">-->
<!--    Add new Item-->
<!--  </a>-->
<!--  <form #addItemForm="ngForm">-->
<!--    <div class="collapse" id="collapseExample">-->
<!--      <div class="form-group mt-3">-->

<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control"-->
<!--                 [(ngModel)]="item.name" name="name" placeholder="Enter item name" requared/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" [(ngModel)]="item.inventoryCode"-->
<!--                 name="inventoryCode" placeholder="Enter Inventory Code" requaired/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <input type="number" class="form-control" [(ngModel)]="item.amount"-->
<!--                 name="amount" placeholder="Enter amount" step="1" required/>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <button [disabled]="addItemForm.invalid" class="btn btn-secondary" (click)="addItemFunc()" value="Add Item">-->
<!--            Add-->
<!--          </button>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </form>-->


<!--  <div class="card">-->
<!--    <h5 class="card-body">List of Items</h5>-->
<!--    <table *ngIf="items" class="table">-->
<!--      <thead class="black white-text">-->
<!--      <tr>-->
<!--        <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr mdbTableCol *ngFor="let it of items">-->
<!--        <th scope="row" [(ngModel)]="itemId">{{it.id}}</th>-->
<!--        <td>{{it.name}}</td>-->
<!--        <td>{{it.amount}}</td>-->
<!--        <td>{{it.inventoryCode}}</td>-->
<!--        <td >-->
<!--          <i class='fas fa-edit' data-toggle="modal" data-target="#editModal"></i>-->
<!--        </td>-->
<!--        <td>-->
<!--          <i class='fas fa-trash' data-toggle="modal" data-target="#deleteModal"></i></td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <h1 *ngIf="!items">No Items</h1>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Modal Delete&ndash;&gt;-->
<!--<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        Do you want delete this item?-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-danger" (click)="deleteItem(itemId.value)">Delete Item</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Modal Edit&ndash;&gt;-->
<!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel2">Edit Item</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-info">Save</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

